# Introduction

##### Follow these steps as a guide and you will be able to access data on Georgia adult obesity and Georgia food environment index by county. You will be pulling out and filtering data until you only have the data that you need. This data will help you the correlation between obesity and food environment index

# Set Up

##### 1. Download Anaconda Navigator.
##### 2. Make a folder and put the CountyHealthData_2014-2015 (1).csv file in it. 
##### 3. Launch Jupyter Lab through Anaconda Navigator (you will find the folder that you just created in here). 
##### 4. After launching Jupyter Lab and finding your folder open a new tab.

# First Steps

##### Pandas allows us to store our data in tabular, multi-dimensional objects with familiar features like rows, columns, and headers. You will now import that pandas package by using the command below. This allows us to call funcitons from pandas with pd instead of pandas.

In [42]:
import pandas as pd

# Using the pd.read_csv() function

##### pd.read_csv reads the tabular data from a Comma Seperated Values (csv) file into a dataframe object we'll define as JB. To create our dataframe object we'll type in exactly what is written below.

In [43]:
JB=pd.read_csv("CountyHealthData_2014-2015 (1).csv")

# Pulling Out The Data

##### To select the certain columns we want we list the names of the columns inside brackets (JB[["Year", "County", "Adult obesity"]]). To select the certain rows we want we put the numbers of the rows we want in brackets (JB[751:1068]). Look below to see exactly how it is done.

In [44]:
JB[["Year", "County", "Adult obesity"]][751:1068]

          Year            County  Adult obesity
751   1/1/2015    Appling County          0.347
752   1/1/2014   Atkinson County          0.308
753   1/1/2015   Atkinson County          0.342
754   1/1/2014      Bacon County          0.308
755   1/1/2015      Bacon County          0.318
...        ...               ...            ...
1063  1/1/2015     Wilkes County          0.337
1064  1/1/2014  Wilkinson County          0.321
1065  1/1/2015  Wilkinson County          0.340
1066  1/1/2014      Worth County          0.316
1067  1/1/2015      Worth County          0.342

[317 rows x 3 columns]

In [45]:
JB[["Year", "County", "Food environment index"]][751:1068]

          Year            County  Food environment index
751   1/1/2015    Appling County                   6.800
752   1/1/2014   Atkinson County                   5.773
753   1/1/2015   Atkinson County                   5.500
754   1/1/2014      Bacon County                   7.459
755   1/1/2015      Bacon County                   7.300
...        ...               ...                     ...
1063  1/1/2015     Wilkes County                   4.600
1064  1/1/2014  Wilkinson County                   6.446
1065  1/1/2015  Wilkinson County                   6.200
1066  1/1/2014      Worth County                   6.883
1067  1/1/2015      Worth County                   6.600

[317 rows x 3 columns]

# Saving Subset

##### In order to save the subsets of data you will type in what is below, but instead of GAobesity and GAfoodenvironmentindex you will type in whatver you want to name it.

In [46]:
GAobesity_subset=JB[["Year", "County", "Adult obesity"]][751:1068].copy()

In [50]:
GAfoodenvironmentindex_subset=JB[["Year", "County", "Food environment index"]][751:1068].copy()

##### Now if you ever want to use your subsets you just type in the name of it and _subset and you can see below.

In [47]:
GAobesity_subset

          Year            County  Adult obesity
751   1/1/2015    Appling County          0.347
752   1/1/2014   Atkinson County          0.308
753   1/1/2015   Atkinson County          0.342
754   1/1/2014      Bacon County          0.308
755   1/1/2015      Bacon County          0.318
...        ...               ...            ...
1063  1/1/2015     Wilkes County          0.337
1064  1/1/2014  Wilkinson County          0.321
1065  1/1/2015  Wilkinson County          0.340
1066  1/1/2014      Worth County          0.316
1067  1/1/2015      Worth County          0.342

[317 rows x 3 columns]

In [51]:
GAfoodenvironmentindex_subset

          Year            County  Food environment index
751   1/1/2015    Appling County                   6.800
752   1/1/2014   Atkinson County                   5.773
753   1/1/2015   Atkinson County                   5.500
754   1/1/2014      Bacon County                   7.459
755   1/1/2015      Bacon County                   7.300
...        ...               ...                     ...
1063  1/1/2015     Wilkes County                   4.600
1064  1/1/2014  Wilkinson County                   6.446
1065  1/1/2015  Wilkinson County                   6.200
1066  1/1/2014      Worth County                   6.883
1067  1/1/2015      Worth County                   6.600

[317 rows x 3 columns]

# Exporting New Subset

##### Now that we are done creating our subset we can export it as a .csv file in our working directory. To do this we type in exactly what is written below, but instead of GAobesity or GAfoodenvironmentindext type in what you named your subsets.

In [49]:
GAobesity_subset.to_csv("GAobesity_subset.csv", index=False)

In [52]:
GAfoodenvironmentindex_subset.to_csv("GAfoodenvironmentindex_subset.csv", index=False)